$font-serif: 'Source Sans 3', sans-serif;

$primary-color: rgb(0, 0, 0);
$secondary-color: #e8e8e8;
$terciary-color: #e8e8e8a2;
$footer-primary-color: rgb(43, 43, 43);
$footer-secondary-color: rgb(87, 83, 83);
$primary-degrade: rgb(13, 13, 137);
$secondary-degrade: rgb(195, 36, 110);
$background-color-form: #31384a;
$sombra-color: rgba(255, 255, 255, 0.2);
$celeste-botones: #2fb4cc;

$flex-box: flex;
$comienzo-flex: flex-start;
$flex-evenly: space-evenly;
$grid-container: grid;

$sobrante-oculto: hidden;

$display-combinado: inline-block;
$no-border: border-box;
$borde-solido: solid;
$size-border: 5px;
$radius-border: 15px;

$timecards: 400ms;
$timeanimation1: 1s;
$todas: all;
$transicionsuave: ease;

$fuentealtura: 400;
$altolineacards: 1.5;
$no-decoration: none;
$mayusc: uppercase;
$centrado: center;
$automatico: auto;
$cursor-default: default;

$ancho-total: 100%;
$porcentaje-0: 0%;

$size-frase: 40px;
$size-parraf: 20px;
$cards-margin: 20px;
$espacio-col: 10px;
$margin-texto-principal: 50px;
$no-pixels: 0px;

$cards-shadow1: 20px;
$cards-shadow2: 5px;
$translateY: -3%;
$unico-pixel: 1px;
$ancho-maximo: 1100px;
$cards-padding: 15px;
$cards-grid4: 4;

$cards-width: 18rem;
$fraccion: 1fr;

$padding-footer: 50px;
$size-img-footer: 50px;
$padding-form: 7px;
$altura-min: 200px;
$altura-max: 300px;
$height-boton: 50px;

$degrade-angle: 45deg;
$box-height: 80px;
$box-width: 250px;

$margin-query: 30px;
$media-tablet: 768px;
$media-celular: 425px;