@mixin flex-center-center{
    display: $flex-box;
    justify-content: $centrado;
    align-items: $centrado;
}
@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

.degrade{
    @include flex-center-center;
    background: linear-gradient($degrade-angle, $primary-degrade, $secondary-degrade);
    border-radius: $radius-border;
    @include sizes($box-width, $box-height);
    transition: $todas 3s;
}
.degrade:hover {
    @include sizes(300px, 100px);
    background: linear-gradient($degrade-angle, $secondary-degrade, $primary-degrade);
}